@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}
:root {
  --main-color: white;
}
html {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-----------Principal------------------------*/

.bg {
  text-align: center;
  padding: 10px;
  height: 50vh;
  background-size: cover;
  box-sizing: border-box;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 40vh;
  top: 50px;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
}
.text-h1 {
  font-size: 20px;
}
.bg-text {
  font-weight: bold;
  border: 3px solid white;
  position: relative;
  top: -200px;
  z-index: 2;
  padding: 0px;
  margin: auto;

  transition: all 400ms ease;
}
@media screen and (min-width: 1000px) {
  .text-h1 {
    font-size: 70px;
  }

  .bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(3px);
  }

  .bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 5px solid white;
    position: relative;
    top: -450px;
    z-index: 2;
    padding: 0px;
    margin: auto;
    display: table;
    transition: all 400ms ease;
  }

  .bg-text:hover {
    transform: translateY(-20px);
    cursor: default;
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: -5px;
    position: absolute;
    z-index: -1;
    filter: blur(1px);
  }
}

/*---------About Me-------------------*/

.CV {
  text-decoration: none;
}

.card-container-aboutMe {
  margin: 0.5rem;
  padding: 0.5rem;
}

.card-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutMe-text {
  font-size: 10px;
  padding: 0.5rem;
}
.logoBen {
  width: 30px;
}
.aboutme-text {
  font-size: 20px;
}

@media screen and (min-width: 400px) {
  .aboutme-text {
    font-size: 30px;
  }

  .aboutMe-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  /*about me*/
  .logoBen {
    width: 80px;
  }
  .CV {
    text-decoration: none;
  }

  .card-container-aboutMe {
    margin: 0.5rem;
    padding: 1rem;
  }
  .aboutme-text {
    font-size: 50px;
  }

  .card-me {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutMe-text {
    font-size: 16px;
    padding: 1rem;
  }

  .justify-content-around button {
    margin: 1rem;
    text-align: center;
    font-size: 20px;
  }
  .container-works {
    height: 80vh;
    margin: 2rem;
    padding: 1rem;
  }
}
/*------------Works-------------------*/
.justify-content-around a {
  color: var(--main-color);
  text-decoration: none;
}
.justify-content-around img {
  height: 100px;
  width: 25vh;
  border-radius: 5px;
}
.justify-content-around button {
  margin: 0.2rem;
  text-align: center;
  font-size: 8px;
}

.container-works {
  font-size: 10px;
  height: 20%;

  margin: 1rem;
  padding: 0.5rem;
}
.works-title {
  font-size: 20px;
  margin: 2rem;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.Pokedex {
  transition: all 400ms ease;
  padding: 1rem;
  margin: 2rem;
  background-color: #282828;
  border-radius: 10px;
}

.Pokedex:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.RickYMorty {
  padding: 1rem;
  margin: 2rem;
  background-color: #282828;
  transition: all 400ms ease;
  border-radius: 10px;
}

.RickYMorty:hover {
  cursor: pointer;
  transform: translateY(-20px);
}
.Ecommerce {
  padding: 1rem;
  margin: 2rem;
  background-color: #282828;
  border-radius: 10px;
  transition: all 400ms ease;
}

.Ecommerce:hover {
  cursor: pointer;
  transform: translateY(-20px);
}
.CrudApi {
  padding: 1rem;
  margin: 2rem;
  background-color: #282828;
  border-radius: 10px;
  transition: all 400ms ease;
}

.CrudApi:hover {
  cursor: pointer;
  transform: translateY(-20px);
}
.WheatherApp {
  padding: 1rem;
  margin: 2rem;
  background-color: #282828;
  border-radius: 10px;
  transition: all 400ms ease;
}

.WheatherApp:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.title-card-work {
  font-size: 16px;
}
.text-card-work {
  font-size: 8px;
}

@media screen and (min-width: 1000px) {
  .works-title {
    font-size: 50px;
  }
  .title-card-work {
    font-size: 24px;
  }
  .text-card-work {
    font-size: 16px;
  }
}
/*-------Software------------*/

.Software {
  height: 60vh;
}

.container-logo img {
  width: 30px;

  padding: 0.5rem;
}
.container-logo {
  background-color: #282828;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  transition: all 400ms ease;
}
.ul-container-logo {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 10px;
  gap: 1rem;
}

.container-logo:hover {
  inset: -20px 0px;
  cursor: pointer;
  transform: translateY(-20px);
}

.Software h6 {
  font-size: 8px;
}

@media screen and (min-width: 1000px) {
  /*-------Software------------*/

  .Software {
    height: 80vh;
  }

  .container-logo img {
    width: 100px;
    max-width: 100px;
    padding: 1rem;
  }
  .container-logo {
    background-color: #282828;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    transition: all 400ms ease;
  }
  .ul-container-logo {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 50px;
    gap: 1rem;
  }

  .container-logo:hover {
    inset: -20px 0px;
    cursor: pointer;
    transform: translateY(-20px);
  }

  .Software h6 {
    font-size: 20px;
  }
}
/*------------Footer Contact--------------------*/

.a-footer {
  text-decoration: none;
  color: var(--main-color);
  font-size: 10px;
}
.text-contatMe {
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .a-footer {
    font-size: 30px;
  }
  .text-contatMe {
    font-size: 50px;
  }
}
